<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex: Main</title>

    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="container">
        <div class="headerContainer">
            <div class='header'>
                <h1>Pokedex</h1>
            </div>
            <div class="header-btn">
                <a href="/pokemon/new"><button class="button" type="button">ADD POKEMON</button></a>
            </div>
            
        </div>
        <div class="allpoke">
            <% for(let i=0; i<pokemonData.length; i++) { %>
                <div class="onepoke">
                    <div class="pokeNamesId">
                        <h4><%=pokemonData[i].name%></h4>
                    </div>

                    <div class="pokeimg">
                        <img src="<%=pokemonData[i].img%>" alt="<%=pokemonData[i].name%>">
                    </div>

                    <div class="btns-Container">
                        <a href="/pokemon/<%=i%>"><button class="button" type="button">DETAILS</button></a>
                        <a href="/pokemon/<%=i%>/edit"><button class="button" type="button">EDIT</button></a>
                        <!--  ADD DELETE FORM HERE-->
                        <form action="/pokemon/<%=i%>?_method=DELETE" method="POST">
                            <input class="button" type="submit" value="DELETE"/>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>